# Configurations

# Size of X, Y, Z dimensions
XN: 64
YN: 64
ZN: 64

# M - Fourier modulus
KEYWORD M: 1_data/M
# R0 - Initial 3D model in real space
KEYWORD R0: 1_data/R0
# S - Initial support in real space
KEYWORD S: 1_data/S
# H - Mask in Fourier space
KEYWORD H: 1_data/H
# Rp - Reconstructed model in real space, to be generated
KEYWORD Rp: 1_data/Rp_0

# 1 for needed, 0 for not needed
NEED R0: 1
NEED S: 1
NEED H: 1

# Available methods: HIO, ER, ASR, HPR, RAAR, DM
METHOD: HIO
BETA: 0.9
LOWER BOUND: 0.0
UPPER BOUND: 1000.0

# The number of times of shrink wrapping
NUM LOOP: 50
# The number of optimizations between two shrink wrapping processes
NUM ITERATION: 20

# Parameters in shrink wrapping
SIGMA0: 3
SIGMAR: 0.01
TH: 0.05
