# Configurations

# Size of X, Y, Z dimensions
XN: 64
YN: 64
ZN: 64

# M - Fourier modulus
KEYWORD M: fugaku_data_bin/M
# R0 - Initial 3D model in real space
# KEYWORD R0: fugaku_data_bin/R0
# S - Initial support in real space
# KEYWORD S: fugaku_data_bin/S
# H - Mask in Fourier space
# KEYWORD H: fugaku_data_bin/H
# Rp - Reconstructed model in real space, to be generated
KEYWORD Rp: fugaku_data_bin/Rp

# 1 for needed, 0 for not needed
NEED R0: 0
NEED S: 0
NEED H: 0

# Available methods: HIO, ER, ASR, HPR, RAAR, DM
METHOD: RAAR
BETA: 0.9
LOWER BOUND: 0.0
UPPER BOUND: 1000.0

# The number of times of shrink wrapping
NUM LOOP: 50
# The number of optimizations between two shrink wrapping processes
NUM ITERATION: 20

# Parameters in shrink wrapping
SIGMA0: 3
SIGMAR: 0.01
TH: 0.05
